img {
    width: 100%;
    background-color: #000000;

}

.my-card {
    background-color: #000000;
    color: rgb(255, 255, 255);
    height: 100%;
}

.my-card h3,
.my-card p {
    padding: 10px;
}

.imgg {
    width: 100px;
    align-items: end;
}

.h11 {
    text-align: center;
    color: #b9b9b9;
}

body {
    background-color: #000000;
}

 .col-md-6 img{
    transition: 0.5s;

 }
 .col-md-6 img:hover{
    transform: scale(1.2);
    border-radius: 10px;
 }